.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 30px ;
    border: none;
    padding: 10px 25px;
    border-radius: 15px;
    background-color: #e72a1d;
}

.btn a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
}

.btn:hover {
        background-color: #e7641d;
}