/* Exercice 1 : Couleur de texte simple */
p {
    color: red;
}
/* ----------------------------------------------------------------------------------------------------------------------- */



/* Exercice 2 : Couleur de fond */
body {
    background-color: #a7a7ff;
}
/* ----------------------------------------------------------------------------------------------------------------------- */



/* Exercice 3 : Couleurs nommées vs HEX */
.boxExo3 {
    margin: 20px 0;
    width: 400px;
    height: 100px;
}

.box1Exo3 {
    background-color: blue;
}

.box2Exo3 {
    background-color: #3498db;
}
/* La couleur en Hexadécimal est plus précise par rapport à la couleur nommée */
/* ----------------------------------------------------------------------------------------------------------------------- */



/* Exercice 4 : RGB */
/* h1 {
    color: rgb(255, 0, 0);
} Pour obtenir du rouge*/

/* h1 {
    color: rgb(0, 255, 0);
} Pour obtenir du vert*/

h1 {
    color: rgb(0, 0, 255);
} 
/* Pour obtenir du bleu */ 
/* ----------------------------------------------------------------------------------------------------------------------- */


/* Exercice 5 : Transparence avec RGBA */
.boxExo5 {
    width: 450px;
    height: 200px;
    background-color: rgba(255, 0, 0, 0.5)
}

h3 {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
/* ----------------------------------------------------------------------------------------------------------------------- */



/* Exercice 6 : HSL */
.boxExo6 {
    margin: 20px 0;
    width: 550px;
    height: 100px;
}

.box1 {
    background: hsl(360, 100%, 50%);
}

.box2 {
    background: hsl(360, 100%, 80%);
}

.box3 {
    background: hsl(360, 100%, 20%);
}
/* ----------------------------------------------------------------------------------------------------------------------- */



/* Exercice 7 : Hover interactif */
.btnExo7 {
    padding: 15px 25px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: green;
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.5s ease;
}

.btnExo7:hover {
    background-color: green;
    color: #ffffff;
}
/* ----------------------------------------------------------------------------------------------------------------------- */


/* Exercice 8 : Palette de couleurs */
.containerExo8 {
    margin: 45px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.boxExo8 {
    width: 170px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: 400;
}

.primaire {
    background-color: #A75F75;
}

.secondaire {
    background-color: #0058BA;
}

.accent {
    background-color: #FDB815;
}

.fond {
    background-color: #03328C;
}

.texte {
    background-color: #ffffff ;
    color: #000000;
}
/* ----------------------------------------------------------------------------------------------------------------------- */



/* Exercice 9 : Dégradé */
body {
    background: linear-gradient(to right, blue, purple);
}
/* ----------------------------------------------------------------------------------------------------------------------- */



/* Exercice 10 : Mini projet (cartes UI) */
.cardExo10 {
    width: 600px;
    height: 450px;
    background-color: #fff;
    border-radius: 16px;
    background: linear-gradient(to top, #98de88, #d9ee8d);
    padding: 25px;
}

.imgExo10 {
    width: inherit;
    height: 55%;
    background-image: url('../Assets/images/produitDeBeaute.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.titreExo10 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #29540F;
    margin: 20px 0 25px 0 ;
}

.texteExo10 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 20px;
    color: #214e04;
    text-align: justify;
}

.btnExo10 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #214e04;
    padding: 15px 25px;
    border: 0.5px solid #214e04;
    border-radius: 20px;
    background-color: #D7CAC8;
    transition: 0.5s ease;
    cursor: pointer;
}


.btnExo10:hover {
    border: 0.5px solid #ffffff;
    background-color: #214e04;
    color: #ffffff;
}

/* ----------------------------------------------------------------------------------------------------------------------- */